*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


html, a,
body{
    height: 100%;
    color: black;
    font-family: "Amatic SC", Arial, Helvetica, sans-serif;
}

/*header*/

.wrapper{
    min-height: 100vh;
    background: #00355d;
    font-weight: 700;
}

.container-header{
    padding: 2% 2% 0 2%;
}

.header-menu{
    display: flex;
    justify-content: space-between;
    font-size: 300%;   
}

.logo-header{
    padding-left: 1%;
}

.logo-header:hover>a{
    color: gray;
    transition: 0.35s;
}

.nav-header>ul{
    display: flex;
    justify-content: space-between;
}

.nav-header>ul>li{
    padding-left: 40%;
}
.nav-header>ul>li>a:hover{
    color: gray;
    transition: 0.35s;
}

select{
    margin: 2% 2.1% 2% 0;
    padding: 0;
    height:4%;
    width: 4%;
    top: -5%;
    background: transparent;
}

.text-header{
    margin: 9% 0;
    flex: 1 1 auto;
    max-width: 100%;
    font-size: 600%;
    z-index: 2;
    text-align: center;
    position: absolute;
}
.img-header{
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: right;
}
.img-header>img{
    max-height: 100%;
   
}

/*main*/

.container-main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #21212b;
    padding: 5% 10% ;
}

.video-main{
    position: relative;
    width: 100%;
    padding-top: 52%;
    background: url(./img/prew_video.jpg) no-repeat center ;
}

.video-main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Чорний колір з прозорістю 50% */
}

.video-main__btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1.5% 4%;
    border: none;
    cursor: pointer;
    font-size: 230%;
    font-family: "Amatic SC", Arial, Helvetica, sans-serif;
}

.video-main__btn:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.video-main>iframe{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*footer*/

.conrainer-footer{
    padding: 5% 0 1% 0;
    font-size: 280%;
}

.number-footer{
    text-align: center;
}

.footer-line {
    width: 30%;
    margin: 0.5% auto;
    border: none;
    border-top: 2px solid #21212b;
}

.footer-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-ul>li {
    margin: 0 0.6%;
}

.footer-ul>li>a>img:hover{
    transition: 0.1s;
    transform: scale(1.1);
}




